<div class="new-container">


  <div>
    <div class="new-list-form">
      <h3>New List</h3>
      <%= form_with url: "/save_list", method: :get do |form| %>
        <label for="list_name">List Name</label>
        <%= form.text_field :list_name %>
        <label for="users">Users</label>
        <% @users.each do |user| %>
          <div class="list-entries">
            <div class="list-name">
              <%= user.first_name%>
            </div>
            <%= check_box_tag "participant_ids[]", user.id, false %>
          </div>
        <% end %>
        <div class="button">
          <%= form.submit "Save" %>
        </div>
      <% end %>
    </div>
  </div>

</div>
